@import '~pc/styles/lib_var.less';

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toolbar {
  height: 48px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0 -1px 0 var(--lineColor);
}

.list {
  height: calc(100vh - 146px);
  padding: 8px;
  overflow: auto;
}

.item {
  min-height: 64px;
  border-radius: 4px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &[data-active='true'] {
    background-color: var(--bgBglessActive);
  }

  &:hover {
    background-color: var(--bgBglessHover);
  }
}

.itemMain {
  min-width: 0;
  flex: 1;
}

.name {
  color: var(--textCommonPrimary);
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--textCommonTertiary);
  font-size: 12px;
  line-height: 18px;
  min-width: 0;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}